In [2]:
import pandas as pd

In [3]:
file_path = r"/workspaces/tir102/data-pipeline/resource/holding.csv"
# file_path = "C:\\workspaces\\tir102\\data-pipeline\\resource\\holding.csv"

df = pd.read_csv(file_path, nrows=1000000)

In [4]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [5]:
df.head()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10

In [6]:
df.head(15)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
6,2998623,2020/11/30,7,2021/01/08,1.63,2194727.0,1.976352e+08,C S X CORP,12640810
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478
8,2998623,2020/11/30,9,2021/01/08,1.59,1403360.0,1.937619e+08,P N C FINANCIAL SERVICES GRP INC,69347510
9,2998623,2020/11/30,10,2021/01/08,1.54,3065766.0,1.874409e+08,C B R E GROUP INC,12504L10
10,2998623,2020/11/30,11,2021/01/08,1.54,186854700.0,1.869642e+08,US Treasury 0.375% 30-Nov-2025,91282CAZ
11,2998623,2020/11/30,12,2021/01/08,1.52,6737689.0,1.842758e+08,WELLS FARGO & CO NEW,94974610
12,2998623,2020/11/30,13,2021/01/08,1.50,3968733.0,1.827205e+08,JOHNSON CONTROLS INTL PLC,G5150210
13,2998623,2020/11/30,14,2021/01/08,1.50,182211000.0,1.821434e+08,United States of America (Government) .125% 30...,91282CAX
14,2998623,2020/11/30,15,2021/01/08,1.50,583989.0,1.819243e+08,ANTHEM INC,03675210

In [7]:
df.tail(15)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
999985,3092652,2020/12/31,13,2021/01/08,0.54,3450.0,711907.50,TAKE TWO INTERACTIVE SOFTWR INC,87405410
999986,3092652,2020/12/31,14,2021/01/08,0.54,34500.0,708975.00,NIELSEN HOLDINGS PLC,G6518L10
999987,3092652,2020/12/31,15,2021/01/08,0.53,8004.0,701790.72,MERCURY COMPUTER SYSTEMS,58937810
999988,3092652,2020/12/31,15,2021/01/08,0.53,31050.0,701730.00,DROPBOX INC,26210C10
999989,3092652,2020/12/31,17,2021/01/08,0.53,4002.0,699589.62,FIVE 9 INC,33830710
999990,3092652,2020/12/31,18,2021/01/08,0.53,71622.0,696165.84,ZYNGA INC,98986T10
999991,3092652,2020/12/31,19,2021/01/08,0.53,7590.0,695092.20,ACTIVISION BLIZZARD INC,00507V10
999992,3092652,2020/12/31,20,2021/01/08,0.52,4830.0,686101.50,ELECTRONIC ARTS INC,28551210
999993,3092652,2020/12/31,21,2021/01/08,0.51,4002.0,668374.02,LILLY ELI & CO,53245710
999994,3092652,2020/12/31,22,2021/01/08,0.50,2898.0,664685.28,MORNINGSTAR INC,61770010
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,663346.68,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,661097.28,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,660967.56,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,658900.32,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,655428.24,INTERACTIVE BROKERS GROUP INC,45841N10

In [8]:
df[3:5]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10

In [9]:
df.loc[[1, 3, 5]]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10

In [14]:
df.loc[[1, 3, 5], "report_dt":"eff_dt"]

    report_dt  security_rank      eff_dt
1  2020/11/30              2  2021/01/08
3  2020/11/30              4  2021/01/08
5  2020/11/30              6  2021/01/08

In [16]:
df.loc[[1, 3, 5], ["report_dt", "eff_dt"]]

    report_dt      eff_dt
1  2020/11/30  2021/01/08
3  2020/11/30  2021/01/08
5  2020/11/30  2021/01/08

In [20]:
df.loc[5:10, ["report_dt", "eff_dt"]]

     report_dt      eff_dt
5   2020/11/30  2021/01/08
6   2020/11/30  2021/01/08
7   2020/11/30  2021/01/08
8   2020/11/30  2021/01/08
9   2020/11/30  2021/01/08
10  2020/11/30  2021/01/08

In [22]:
df.iloc[5:10, [2, 4]]

   security_rank  percent_tna
5              6         1.64
6              7         1.63
7              8         1.60
8              9         1.59
9             10         1.54

In [24]:
df[["security_rank", "percent_tna"]]

        security_rank  percent_tna
0                   1         2.55
1                   2         1.98
2                   3         1.89
3                   4         1.75
4                   5         1.65
...               ...          ...
999995             23         0.50
999996             24         0.50
999997             25         0.50
999998             26         0.50
999999             27         0.50

[1000000 rows x 2 columns]

In [25]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [26]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [27]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3092616', '3092619',
       '3092652'], dtype=object)

In [28]:
len(df["portno"].unique())

3867

In [29]:
df["market_val"].mean()

np.float64(8295992.487287326)

In [30]:
df["market_val"].std()

np.float64(81533843.61393921)

In [31]:
"""
select
    portno,
    count(portno)
from table
group by portno
"""
df["portno"].value_counts()

portno
3076812    10798
3062442     9285
3092256     8456
307883d     8331
3062436     7676
           ...
3075153        1
307512c        1
3073329        1
3080052        1
3082554        1
Name: count, Length: 3867, dtype: int64

In [35]:
df.describe()

        security_rank     percent_tna    nbr_shares    market_val
count  1000000.000000  1000000.000000  1.000000e+06  1.000000e+06
mean       878.182552        0.313768  4.992272e+07  8.295992e+06
std       1319.490208        1.713193  1.176281e+10  8.153384e+07
min          1.000000     -200.000000 -4.398750e+12 -7.381045e+09
25%        116.000000        0.010000  2.069500e+04  1.783209e+05
50%        398.000000        0.050000  2.000000e+05  8.666431e+05
75%       1090.000000        0.210000  1.208042e+06  3.516512e+06
max      12388.000000      300.080000  6.667220e+12  1.862818e+10

In [39]:
"""
select
    portno,
    sum(percent_tna)
from table
group by portno
"""
df.groupby(["portno"]).sum()["percent_tna"]

portno
2998623     99.79
2998638     99.89
2998809     99.50
2998821    100.01
2999052      0.08
            ...
309260a      0.10
309260d    100.79
3092616      0.07
3092619    100.06
3092652    118.57
Name: percent_tna, Length: 3867, dtype: float64

In [42]:
df["portno"] == "2998623"

0          True
1          True
2          True
3          True
4          True
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Name: portno, Length: 1000000, dtype: bool

In [43]:
df[df["portno"] == "2998623"]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
346,2998623,2020/11/30,352,2021/01/08,0.00,1303.0,1.594570e+03,Ginnie Mae 2 20-JAN-2031 003028,36202DLH
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10

In [45]:
"""
select *
from table
where portno = '2998623'
and percent_tna > 1.8
"""
filter_2998623 = df["portno"] == "2998623"
filter_percent_tna_gt_2 = df["percent_tna"] > 1.8

df[
    filter_2998623 & filter_percent_tna_gt_2
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644

In [46]:
"""
select *
from table
where percent_tna > 2
or percent_tna < 1
"""

filter_percent_tna_gt_2 = df["percent_tna"] > 2
filter_percent_tna_lt_1 = df["percent_tna"] < 1

df[
    filter_percent_tna_gt_2 | filter_percent_tna_lt_1
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
32,2998623,2020/11/30,33,2021/01/08,0.97,2350480.0,1.180881e+08,COMCAST CORP NEW,20030N10
33,2998623,2020/11/30,34,2021/01/08,0.94,724928.0,1.148431e+08,N X P SEMICONDUCTORS N V,N6596X10
34,2998623,2020/11/30,35,2021/01/08,0.94,3616628.0,1.138514e+08,US FOODS HOLDING CORP,91200810
35,2998623,2020/11/30,36,2021/01/08,0.91,2015089.0,1.109710e+08,CITIGROUP INC,17296742
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [47]:
"""
select *
from table
where portno = '2998623'
and (
    percent_tna > 2 or percent_tna < 1
)
"""

df[
    filter_2998623 & (
        filter_percent_tna_gt_2 | filter_percent_tna_lt_1
    )
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
32,2998623,2020/11/30,33,2021/01/08,0.97,2350480.0,1.180881e+08,COMCAST CORP NEW,20030N10
33,2998623,2020/11/30,34,2021/01/08,0.94,724928.0,1.148431e+08,N X P SEMICONDUCTORS N V,N6596X10
34,2998623,2020/11/30,35,2021/01/08,0.94,3616628.0,1.138514e+08,US FOODS HOLDING CORP,91200810
35,2998623,2020/11/30,36,2021/01/08,0.91,2015089.0,1.109710e+08,CITIGROUP INC,17296742
...,...,...,...,...,...,...,...,...,...
346,2998623,2020/11/30,352,2021/01/08,0.00,1303.0,1.594570e+03,Ginnie Mae 2 20-JAN-2031 003028,36202DLH
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10